@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital@0;1&family=Indie+Flower&family=Karla:ital@0;1&family=Kaushan+Script&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  display: flex;
  text-decoration: none;
  color: black
}

* {
  scroll-behavior: smooth;
}

h2 {
  font-family: Indie Flower;
}

p {
  font-family: Karla;
  line-height: 5vh;
}

h1 {
  font-family: Anonymous Pro;
  text-align: left;
}

img {
  object-fit: contain;
}

#root {
  background: var(--bg-color);
  overflow-x: hidden;
}

.portfolio-hero::after {
  content: 'Moje portfolio';
}

.order-hero::after {
  content: 'Złóż zamówienie';
}

.logo {
  display: flex;
  font-size: 135%;
  gap: 15px;
  align-items: center;
  box-sizing: border-box;
  transition: .5s;
}

.logo:hover {
  color: gray;
}

.logo:hover img {
  filter: brightness(80%);
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 15px;
  width: 100vw;
  background-color: rgba(255,255,255, 0.6);
  padding: 0 2vw;
  z-index: 5;
}

.navbar-menu {
  display: flex;
  font-family: Kaushan Script;
  align-items: center;
  gap: 70px;
  margin-right: 3vw;
} 

.navbar-menu h2 {
  cursor: pointer;
}

.navbar-menu img {
  width: 15%;
}

.portfolio-footer a {
  color: white;
}

.btn:hover {
  background-color: white;
  color: black;
}

svg {
  margin: -0.1vh 0;
}

[data-mode='light'] {
  --bg-color: linear-gradient(to right, #FF9A9E, #F6B5A2);
  --gradient: linear-gradient(to right, #F9B0A2, #D2DEF2);  
  --white: white;                                                                                       
}

[data-mode='dark'] {
  --bg-color: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  --gradient: linear-gradient(to right, #F9B0A2, #D2DEF2);  
  --white: white;   
}

@media only screen and (min-width: 1504px) {
  .home-hero {
    background-image: url('./images/heroBg.png');
    height: 100vh;
    background-position: center;
  }

  .portfolio-hero {
    background-image: url('./images/heroBgPortfolio.png');
    height: 60vh;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 600%;
    font-family: Kaushan Script;
  }

  .order-hero {
    background-image: url('./images/orderBg.jpg');
    height: 60vh;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 600%;
    font-family: Kaushan Script;
    backdrop-filter: blur(15px);
  }
  
  .logo > img {
    width: 60px;
  }
  
  .logo h2 {
    margin: 0;
    font-family: Indie Flower;
  }
  
  .about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 155%;
    padding: 5vh 0 0 0;
    background-color: var(--white);
  }
  
  .about-section img {
    width: 25%;
  }
  
  .about-section span {
    background: var(--bg-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Kaushan Script;
    font-size: 120%;
  }
  
  .about--my-profile {
    width: 65%;
    margin-top: 5vh;
    display: flex;
  }
  
  .about--my-profile img {
    width: 600px;
  }
  
  .about--my-profile > div {
    padding: 6vh 0;
    box-sizing: border-box;
    line-height: 5vh;
  }
  
  .about--my-profile > div > div {
    display: flex;
    gap: 20px;
  }
  
  .about--my-profile > div > div img {
    width: 75px;
    cursor: pointer;
  }
  
  .portfolio-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
  }
  
  .portfolio-section img {
    width: 650px;
    padding: 0;
    margin: 0;
  }
  
  .portfolio-section > div {
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 100px;
  }
  
  .portfolio-section > div > div {
    font-size: 200%;
    text-align: justify;
    display: flex;
    flex-direction: column;
  }
  
  .portfolio-section p {
    width: 100%;
    font-size: 130%;
    line-height: 9vh;
  }
  
  .portfolio-section h1 {
    margin: 0;
    margin-top: 4vh;
    box-sizing: border-box;
  }
  
  .btn {
    font-size: 140%;
    width: 40vw;
    background-color: inherit;
    border: solid white 2px;
    color: white;
    font-family: Anonymous Pro;
    border-radius: 30px;
    transition: all .5s;
    cursor: pointer;
  }

  .change-btn {
    border-radius: 30px;
    border: none;
    width: 20vw;
    height: 6vh;
    cursor: pointer;
  }
  
  .reviev {
    background: var(--bg-color);
    width: 700px;
    height: 300px;
    border-radius: 30px;
    padding: 2vh 2vw;
    box-sizing: border-box;
    font-size: 140%;
    color: var(--white)
  }
  
  .reviev > div {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: Kalam;
    color: rgb(214, 214, 214);
  }
  
  .revievs {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    box-sizing: border-box;
  }
  
  .revievs > h1 {
    margin: 0;
    margin-left: 13vw;
    font-size: 300%;
    margin-bottom: 5vh;
  }
  
  .revievs > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 60px;
  }
  
  .reviev p {
    font-size: 175%;
    box-sizing: border-box;
    margin: 0 0 2vh 0;
  }
  
  .offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);   
  }
  
  .offer > div {
    display: flex;
    width: 80%;
  }
  
  .offer h1 {
    font-size: 350%;
    margin: 3vh 0 0 0;
  }
  
  .offer p {
     font-size: 250%;
     line-height: 9vh;
  }
  
  .offer button {
    font-size: 250%;
  }
  
  footer {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -0.15vh;
    text-align: center;
  }

  #footer-menu  {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  footer ul {
    list-style-type: none;
    line-height: 7vh;
    font-size: 230%;
  }

  footer ul li {
    cursor: pointer;
  }

  .header {
    font-weight: bold;
    font-family: Anonymous Pro;
    font-size: 200%;
    margin-bottom: 5vh;
  }
  
  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .link img {
    width: 10%;
  }

  .gallery {
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  .images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    padding-bottom: 10vh;
  }

  .images-container img {
    object-fit: contain;
  }

  .changing-buttons {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 6vh 0;
  }

  .changing-buttons button {
    background: var(--bg-color);
    font-size: 200%;
    font-family: Anonymous Pro;
    color: white;
  }

  .portfolio-footer {
    background: var(--bg-color);
    color: white;
  }

  .order-page {
    background-color: white;
  }

  .order-section {
    background-color: white;
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Anonymous Pro;
    color: white;
    margin: 10vh auto 10vh auto;
  }

  .order-section > div {
    display: flex;
    gap: 50px; 
  }

  .order-section button {
    background: var(--bg-color);
    color: white;
    font-family: Anonymous Pro;
    width: 35vw;
    height: 15vh;
    font-size: 160%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
  }

  .order-section button:hover {
    filter: brightness(80%);
  }

  .order-section button img {
    width: 50px;
  }

  .message-config {
    color: black;
    font-size: 250%;
    width: 100%;
    height: 130vh;
    padding: 0 10vw;
    box-sizing: border-box;
    display: none;
    justify-content: space-around;
  }

  .message-config img {
    width: 30%;
    position: relative;
    transition: all .5s;
  }

  .message-config > div img:hover {
    filter: brightness(70%);
    cursor: pointer;
  }

  .message-config > div > div {
    display: flex;
    gap: 40px;
  }

  .message-config h2 {
    margin: 5vh 0;
  }

  .message-config input {
    width: 30vw;
    height: 8vh;
    border-radius: 50px;
    font-size: 100%;
    padding: 0 2vw;
    font-family: Anonymous Pro;
    border: solid #FF9A9E 2px;
  }

  .message-config input[type='text'] {
    height: 24vh;
  }

  .message-config button {
    height: 10vh;
    width: 15vw;
    margin: 4vh 0;
  }

  .message-config > img {
    object-fit: contain;
  }

  .message-config > div {
    display: flex;
    flex-direction: column;
  }

  .message-config span {
    color: red;
  }
}

@media only screen and (max-width: 1503px) and (min-width: 1261px) {
  .home-hero {
    background-image: url('./images/heroBg.png');
    height: 100vh;
    background-position: center;
  }

  .portfolio-hero {
    background-image: url('./images/heroBgPortfolio.png');
    height: 60vh;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 600%;
    font-family: Kaushan Script;
  }

  .order-hero {
    background-image: url('./images/orderBg.jpg');
    height: 60vh;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 600%;
    font-family: Kaushan Script;
    backdrop-filter: blur(15px);
  }
  
  .logo > img {
    width: 60px;
  }
  
  .logo h2 {
    margin: 0;
  }

  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--white);
    padding: 3vh 8vw 0 8vw;
  }

  .about--my-profile {
    display: flex;
  }

  .about-section span {
    background: var(--bg-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Kaushan Script;
    font-size: 120%;
  }

  .about--my-profile > div {
    padding: 6vh 0;
    box-sizing: border-box;
    line-height: 5vh;
  }
  
  .about--my-profile p {
    font-size: 135%;
    width: 95%;
  }
  
  .about--my-profile h1 {
    font-size: 250%;
  }

  .about--my-profile > img {
    width: 600px;
    height: 600px;
  }

  .about--my-profile > div > div img {
    width: 75px;
  }

  .about--my-profile > div > div {
    display: flex;
    gap: 30px;
  }

  .portfolio-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
  }
  .portfolio-section > div {
    display: flex;
    justify-content: center;
  }
  
  .portfolio-section > div > img {
    width: 600px;
  }

  .portfolio-section > div {
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 100px;
  }
  
  .portfolio-section > div > div {
    font-size: 200%;
    text-align: justify;
    display: flex;
    flex-direction: column;
  }
  
  .portfolio-section p {
    width: 100%;
    font-size: 110%;
    line-height: 7vh;
  }
  
  .portfolio-section h1 {
    margin: 0;
    margin-top: 4vh;
    box-sizing: border-box;
    font-size: 120%;
  }

  .reviev {
    background: var(--bg-color);
    width: 600px;
    height: 300px;
    border-radius: 30px;
    padding: 2vh 2vw;
    box-sizing: border-box;
    font-size: 140%;
    font-family: Kalam;
    color: var(--white)
  }
  
  .reviev > div {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--white);
  }

  .btn {
    font-size: 140%;
    width: 40vw;
    background-color: inherit;
    border: solid white 2px;
    color: white;
    font-family: Anoymous Pro;
    border-radius: 30px;
    transition: all .5s;
    cursor: pointer;
  }
  
  .revievs {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    box-sizing: border-box;
  }
  
  .revievs > h1 {
    margin: 0;
    margin-left: 13vw;
    font-size: 300%;
    margin-bottom: 5vh;
  }
  
  .revievs > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 60px;
  }
  
  .reviev p {
    font-size: 175%;
    box-sizing: border-box;
    margin: 0 0 4vh 0;
  }

  .offer {
    color: white;
  }

  .offer > div img {
    width: 600px;
  }

  .offer > div {
    display: flex;
    padding: 0 5vw;
  }

  .offer h1 {
    font-size: 350%;
    margin: 3vh 0 0 0;
  }
  
  .offer p {
     font-size: 250%;
     line-height: 6vh;
  }

  .offer button {
    font-size: 200%;
  }

  footer {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -0.5vh;
    text-align: center;
  }

  #footer-menu  {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 200%;
  }

  footer ul {
    list-style-type: none;
    line-height: 7vh;
  }

  .header {
    font-weight: bold;
    font-family: Anonymous Pro;
    font-size: 150%;
    
  }
  
  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .link img {
    width: 10%;
  }

  .gallery {
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  .images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    padding-bottom: 10vh;
  }

  .images-container img {
    object-fit: contain;
  }

  .changing-buttons {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 6vh 0;
  }

  .changing-buttons button {
    background: var(--bg-color);
    font-size: 100%;
    font-family: Anonymous Pro;
    color: white;
  }

  .portfolio-footer {
    background: var(--bg-color);
    color: white;
  }

  .changing-buttons {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 6vh 0;
  }

  .changing-buttons button {
    background: var(--bg-color);
    font-size: 200%;
    font-family: Anonymous Pro;
    color: white;
  }

  .portfolio-footer {
    background: var(--bg-color);
    color: white;
  }

  .order-page {
    background-color: white;
  }

  .order-section {
    background-color: white;
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Anonymous Pro;
    color: white;
    margin: 10vh auto 10vh auto;
  }

  .order-section > div {
    display: flex;
    gap: 50px; 
  }

  .order-section button {
    background: var(--bg-color);
    color: white;
    font-family: Anonymous Pro;
    width: 35vw;
    height: 15vh;
    font-size: 160%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
  }

  .order-section button:hover {
    filter: brightness(80%);
  }

  .order-section button img {
    width: 50px;
  }

  .message-config {
    color: black;
    font-size: 150%;
    width: 100%;
    height: 130vh;
    padding: 0 10vw;
    box-sizing: border-box;
    display: none;
    justify-content: space-around;
  }

  .message-config img {
    width: 30%;
    position: relative;
    transition: all .5s;
  }

  .message-config > div img:hover {
    filter: brightness(70%);
    cursor: pointer;
  }

  .message-config > div > div {
    display: flex;
    gap: 40px;
  }

  .message-config h2 {
    margin: 5vh 0;
  }

  .message-config input {
    width: 30vw;
    height: 8vh;
    border-radius: 50px;
    font-size: 100%;
    padding: 0 2vw;
    font-family: Anonymous Pro;
    border: solid #FF9A9E 2px;
  }

  .message-config input[type='text'] {
    height: 24vh;
  }

  .message-config button {
    height: 10vh;
    width: 20vw;
    margin: 4vh 0;
  }

  .message-config > img {
    object-fit: contain;
  }

  .message-config > div {
    display: flex;
    flex-direction: column;
  }

  .message-config span {
    color: red;
  }
}

@media only screen and (max-width: 768px) {
  #root {
    width: 100%;
  }

  h1 {
    font-size: 220%;
  }

  p {
    font-size: 150%;
  }

  .home-hero {
    background-image: url('./images/heroBg.png');
    height: 35vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .portfolio-hero {
    background-image: url('./images/heroBgPortfolio.png');
    height: 50vh;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 400%;
    font-family: Kaushan Script;
  }

  .order-hero {
    background-image: url('./images/orderBg.jpg');
    height: 40vh;
    background-size: 200%;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 300%;
    font-family: Kaushan Script;
    backdrop-filter: blur(15px);
  }
  
  .logo > img {
    width: 40px;
  }
  
  .logo h2 {
    margin: 0;
  }

  .about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--white);
    padding-top: 3vh;
  }
  
  .about-section img {
    width: 100%;
    margin-top: 2vh;
  }

  .about-section .logo img {
    width: 70px;
    margin: auto 0;
  }

  .about-section .logo h2 {
    font-size: 200%;
  }

  .about-section .logo {
    display: flex;
  }

  .navbar-menu {
    display: none;
  }
  
  .about-section span {
    background: var(--bg-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Kaushan Script;
    font-size: 110%;
  }

  .about--my-profile > div h1 {
    margin: 0;
  }

  .about--my-profile > div {
    margin-top: -5vh;
    padding: 0 12vw;
    text-align: justify;
  }

  .about--my-profile > div > div {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .about--my-profile > div > div img {
    width: 60px;
  }

  .portfolio-section {
    margin-top: -0.2vh;
  }

  .portfolio-section div > img {
    width: 100%;
  } 

  .portfolio-section h1 {
    margin: 0;
    font-size: 190%;
  }

  .portfolio-section > div > div {
    text-align: justify;
    display: flex;
    flex-direction: column;
    padding: 5vw;
    box-sizing: border-box;
    color: white;
  }
  
  .portfolio-section p {
    width: 100%;
  }

  .btn {
    font-size: 160%;
    width: 90vw;
    height: 7vh;
    background-color: inherit;
    border: solid white 2px;
    color: white;
    font-family: Anoymous Pro;
    border-radius: 30px;
    transition: all .5s;
    cursor: pointer;
  }

  .reviev {
    background: var(--bg-color);
    width: 80%;
    height: 280px;
    border-radius: 30px;
    padding: 2vh 4vw;
    box-sizing: border-box;
    color: var(--white);
  }
  
  .reviev > div {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: Kaushan Script;
    color: var(--white);
  }

  .reviev > div img {
    width: 80px;
  }
  
  .revievs {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    box-sizing: border-box;
    margin-top: -1vh;
    align-items: center;
  }

  .reviev p {
    font-size: 150%;
    margin: 1vh 0;
  }
  
  .revievs > h1 {
    margin: 0;
    margin-bottom: 5vh;
  }
  
  .revievs > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 60px;
  }

  .offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);   
    margin-top: -0.1vh;
  }
  
  .offer > div {
    width: 85%;
  }

  .offer img {
    width: 100%;
  }
  
  .offer h1 {
    margin: 0;
  }
  
  footer {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -0.15vh;
    text-align: center;
  }

  #footer-menu  {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  footer ul {
    list-style-type: none;
    line-height: 4vh;
  }

  .header {
    font-weight: bold;
    font-family: Anonymous Pro;
    font-size: 170%;
  }
  
  .link img {
    width: 13%;
  }

  .gallery {
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  .images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    padding-bottom: 10vh;
  }

  .images-container img {
    object-fit: contain;
    width: 80%;
  }

  .changing-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 6vh 0;
  }

  .changing-buttons button {
    background: var(--bg-color);
    font-size: 100%;
    font-family: Anonymous Pro;
    color: white;
  }

  .portfolio-footer {
    background: var(--bg-color);
    color: white;
  }

  .changing-buttons {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 6vh 0;
  }

  .changing-buttons button {
    background: var(--bg-color);
    font-size: 200%;
    font-family: Anonymous Pro;
    color: white;
  }

  .portfolio-footer {
    background: var(--bg-color);
    color: white;
  }

  .order-page {
    background-color: white;
  }

  .order-section {
    background-color: white;
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Anonymous Pro;
    color: white;
    margin: 10vh auto 10vh auto;
  }

  .order-section > div {
    display: flex;
    gap: 50px; 
  }

  .order-section button {
    background: var(--bg-color);
    color: white;
    font-family: Anonymous Pro;
    width: 78vw;
    height: 15vh;
    font-size: 160%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
  }

  .order-section button:hover {
    filter: brightness(80%);
  }

  .order-section button img {
    width: 50px;
  }

  .message-config {
    color: black;
    font-size: 140%;
    width: 100%;
    height: 130vh;
    padding: 0 5vw;
    margin-bottom: -15vh;
    box-sizing: border-box;
    display: none;
    justify-content: space-around;
  }

  .message-config img {
    width: 30%;
    position: relative;
    transition: all .5s;
  }

  .message-config > div img:hover {
    filter: brightness(70%);
    cursor: pointer;
  }

  .message-config > div > div {
    display: flex;
    gap: 40px;
  }

  .message-config h2 {
    margin: 5vh 0;
  }

  .message-config input {
    width: 80vw;
    height: 8vh;
    border-radius: 50px;
    font-size: 100%;
    padding: 0 2vw;
    font-family: Anonymous Pro;
    border: solid #FF9A9E 2px;
  }

  .message-config input[type='text'] {
    height: 12vh;
    width: 80vw;
  }

  .message-config button {
    height: 10vh;
    width: 50vw;
    margin: 4vh 0;
  }

  .message-config > img {
    display: none;
  }

  .message-config > div {
    display: flex;
    flex-direction: column;
  }

  .message-config span {
    color: red;
    font-size: 80%;
  }

  .first {
    display: flex;
    flex-direction: column;
  }

  
}

@media only screen and (min-width: 769px) and (max-width: 1260px) {
  .home-hero {
    background-image: url('./images/heroBg.png');
    height: 50vh;
    background-size: 100%;
    background-position: center;
  }

  .portfolio-hero {
    background-image: url('./images/heroBgPortfolio.png');
    height: 60vh;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 500%;
    font-family: Kaushan Script;
  }

  .order-hero {
    background-image: url('./images/orderBg.jpg');
    height: 60vh;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 600%;
    font-family: Kaushan Script;
  }
  
  .logo > img {
    width: 60px;
  }
  
  .logo h2 {
    margin: 0;
    font-family: Indie Flower;
  }

  .about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--white);
    padding: 3vh 4vw 0 4vw;
    margin-bottom: -0.5vh;
  }
  
  .about-section img {
    width: 100%;
  }

  .about-section .logo img {
    width: 60px;
    margin: auto 0;
  }

  .about-section .logo h2 {
    font-size: 200%;
  }

  .about-section .logo {
    display: flex;
  }
  
  .about-section span {
    background: var(--bg-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Kaushan Script;
    font-size: 140%;
  }

  .about--my-profile > div {
    margin-top: -12vh;
    padding: 0 10vw;
  }

  .about--my-profile > div > div {
    gap: 40px;
    display: flex;
  }

  .about--my-profile > div > div img {
    width: 70px;
  }

  .about--my-profile p {
    font-size: 150%;
  }

  .about--my-profile > img {
    margin-top: 2vh;
  }

  .about--my-profile h1 {
    font-size: 250%;
  }

  .portfolio-section {
    margin-top: -0.2vh;
  }

  .portfolio-section div > img {
    width: 100%;
  } 

  .portfolio-section h1 {
    margin: 0;
    font-size: 270%;
  }

  .portfolio-section > div > div {
    text-align: justify;
    display: flex;
    flex-direction: column;
    padding: 10vh 5vw;
    box-sizing: border-box;
    color: white;
  }
  
  .portfolio-section p {
    width: 100%;
    font-size: 200%;
  }
  
  button {
    width: 15vw;
    height: 6vh;
    border-radius: 30px;
    border: none;
  }
  
  .btn {
    font-size: 140%;
    width: 40vw;
    background-color: inherit;
    border: solid white 2px;
    color: white;
    font-family: Anoymous Pro
  }

  .btn:hover {
    background-color: white;
  }

  .reviev {
    background: var(--bg-color);
    width: 40%;
    height: 280px;
    border-radius: 30px;
    padding: 2vh 4vw;
    box-sizing: border-box;
    color: var(--white);
  }
  
  .reviev > div {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: Kaushan Script;
    color: var(--white);
  }

  .reviev > div img {
    width: 90px;
  }
  
  .revievs {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    box-sizing: border-box;
    margin-top: -1vh;
    align-items: center;
  }

  .reviev p {
    font-size: 150%;
    margin: 2vh 0;
  }
  
  .revievs > h1 {
    margin: 0;
    margin-bottom: 5vh;
    font-size: 300%;
  }
  
  .revievs > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 60px;
  }

  .offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);   
    margin-top: -0.1vh;
  }
  
  .offer > div {
    width: 90%;
    display: flex;
  }

  .offer > div > div {
    font-size: 150%;
  }

  .offer img {
    width: 55%;
  }
  
  .offer h1 {
    margin: 0;
  }

  footer {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -0.15vh;
    text-align: center;
  }

  #footer-menu  {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 200%;
  }

  footer ul {
    list-style-type: none;
    line-height: 6vh;
  }

  .header {
    font-weight: bold;
    font-family: Anonymous Pro;
    font-size: 140%;
  }
  
  .link img {
    width: 13%;
  }

  .gallery {
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  .images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    padding-bottom: 10vh;
  }

  .images-container img {
    object-fit: contain;
  }

  .changing-buttons {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 6vh 0;
  }

  .changing-buttons button {
    background: var(--bg-color);
    font-size: 150%;
    font-family: Anonymous Pro;
    color: white;
  }

  .portfolio-footer {
    background: var(--bg-color);
    color: white;
  }

  .changing-buttons {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 6vh 0;
  }

  .changing-buttons button {
    background: var(--bg-color);
    font-size: 100%;
    font-family: Anonymous Pro;
    color: white;
  }

  .portfolio-footer {
    background: var(--bg-color);
    color: white;
  }

  .changing-buttons {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 6vh 0;
  }

  .changing-buttons button {
    background: var(--bg-color);
    font-size: 200%;
    font-family: Anonymous Pro;
    color: white;
  }

  .portfolio-footer {
    background: var(--bg-color);
    color: white;
  }

  .order-page {
    background-color: white;
  }

  .order-section {
    background-color: white;
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Anonymous Pro;
    color: white;
    margin: 10vh auto 10vh auto;
  }

  .order-section > div {
    display: flex;
    gap: 50px; 
  }

  .order-section button {
    background: var(--bg-color);
    color: white;
    font-family: Anonymous Pro;
    width: 78vw;
    height: 15vh;
    font-size: 160%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
  }

  .order-section button:hover {
    filter: brightness(80%);
  }

  .order-section button img {
    width: 50px;
  }

  .message-config {
    color: black;
    font-size: 200%;
    width: 100%;
    height: 130vh;
    padding: 0 2vw;
    box-sizing: border-box;
    display: none;
    justify-content: space-around;
  }

  .message-config img {
    width: 30%;
    position: relative;
    transition: all .5s;
  }

  .message-config > div img:hover {
    filter: brightness(70%);
    cursor: pointer;
  }

  .message-config > div > div {
    display: flex;
    gap: 40px;
  }

  .message-config h2 {
    margin: 5vh 0;
  }

  .message-config input {
    width: 50vw;
    height: 8vh;
    border-radius: 50px;
    font-size: 100%;
    padding: 0 2vw;
    font-family: Anonymous Pro;
    border: solid #FF9A9E 2px;
  }

  .message-config input[type='text'] {
    height: 24vh;
    width: 50vw;
  }

  .message-config button {
    height: 10vh;
    width: 30vw;
    margin: 4vh 0;
  }

  .message-config > img {
    display: none;
  }

  .message-config > div {
    display: flex;
    flex-direction: column;
  }

  .message-config span {
    color: red;
  }

  .first {
    display: flex;
    flex-direction: column;
  }

}